<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">


</head>
<body>
	<div id = "header">
		<a class = "menuItem" href = "/">Main Page</a>
		<a class = "menuItem" href = "/load">Execute</a>
		<a class = "menuItem" href = "/profile">MyPage</a>
		<a class = "menuItem" href = "/login">Enter</a>
	</div>
	<div id ="content">
		<table caption = "Ctalog" class="steelBlueCols">
			<tr>
				<th>Task</th>
				<th>Server</th>
				<th>User</th>
				<th>Progress</th>
			</tr>
			
			
			<tr>
				<td> Task </td>
				<td> Server </td>
				<td> Username </td>
			</tr>
			<tr>
				<td> Task </td>
				<td> Server </td>
				<td> Username </td>
			</tr>
			<tr>
				<td> Task </td>
				<td> Server </td>
				<td> Username </td>
			</tr>
			
			<a href = "/performance" class ="button">Monitor servers perofrmance</a>
			<a href = "/admin" class ="button">Update</a>
		</table>
	</div>

</body>
</html>