<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">
</head>
<body>
	<header>
		<a class = "menuItem" href = "/">Main Page</a>
		<a class = "menuItem" href = "/load">Execute</a>
		<a class = "menuItem" href = "/profile">MyPage</a>
		<a class = "menuItem" href = "/login">Enter</a>

	</header>
	<div id ="content">

    <% if(user) { %>
        <p>Welcome <%- user -%> <%- surname -%> </p></br>
    <% } else { %>
        <p>Unregister user</p>
    <% } %> 

		<h1>Complex task executer</h1>
	</div>
	
</body>
</html>