<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">
</head>
<body>
	<div id = "header">
		<a class = "menuItem" href = "/">Main Page</a>
		<a class = "menuItem" href = "/load">Execute</a>
		<a class = "menuItem" href = "/profile">MyPage</a>
		<a class = "menuItem" href = "/login">Enter</a>
	</div>
	<div id ="content">
		<form action = "/load" method = "post">
			<input type = "text", name = "result" class = "button">
			<button class = "button" name = "Load">Execute</button>
		</form>
	</div>

</body>
</html>