<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">
</head>
<body>
	<header>
		<a class = "menuItem" href = "/">Main Page</a>
		<a class = "menuItem" href = "/load">Execute</a>
		<a class = "menuItem" href = "/profile">MyPage</a>
		<a class = "menuItem" href = "/login">Enter</a>
	</header>
	<div id ="content">

		<div class="logPage">
			<form method="post" action = "log_in">
				<p>Name: <br/><input name = "username"/></p>
				<p>Password: <br/><input name = "password" type = "password"/></p>
				<button name = "Log in" class = "button">Log in</button>
			</form>
		</div>
	</br>

		<div class="logPage">
			<form method="post" action = "regist">
				<span>Registrations: </span>

				<p>Name: <br/><input name = "user_name"/></p>
				<p>Surname: <br/><input name = "user_surname"/></p>
				<p>Password: <br/><input name = "password" type = "password"/></p>
				<p>Repeat Password: </b><br/><input name = "password_repeat" type = "password"/></p>
				<button name = "regist" class = "button">Sign In</button>
			</form>
		</div>

	</div>
</body>
</html>