<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">
</head>
<body>
	<div id = "header">
		<a class = "menuItem" href = "/">Main Page</a>
		<a class = "menuItem" href = "/load">Execute</a>
		<a class = "menuItem" href = "/profile">MyPage</a>
		<a class = "menuItem" href = "/login">Enter</a>
	</div>
	<div id ="content">
		<h1>ERROR: <%= err_mess  %></h1>
	</div>

</body>
</html>