<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">
</head>
<body>
	<div id = "header">
		<a class = "menuItem" href = "/">Main Page</a>
		<a class = "menuItem" href = "/load">Execute</a>
		<a class = "menuItem" href = "/profile">MyPage</a>
		<a class = "menuItem" href = "/login">Enter</a>
	</div>
	<div id ="content">
		<table caption = "Ctalog" class="steelBlueCols">
			<tr>
				<th>Server</th>
				<th>Threads</th>
			</tr>
			
			<tr>
				<td> Server </td>
				<td> processing</td>
			</tr>
			<tr>
				<td> Server </td>
				<td> processing</td>
			</tr>
			<tr>
				<td> Server </td>
				<td> processing</td>
			</tr>
		</table>
	</div>

</body>
</html>